page-barang {

	.konten {
	padding: 0px 16px 5px 16px;
	}

	h6 {
	text-align: center !important;
	background-color: map-get($colors, primary);
	color: #fff;
	padding: 5px;
	}

	.card-content p {
    font-size: 0.7em !important;
  }

  .gambar {
  	height: 52vw;
  	object-fit: cover;
  }

  ion-card {
    img {
          height: 52vw;
    object-fit: cover;
    }
  }

  .garis {

	border-top: 1px solid #ccc;

  }

    hr {
    border: 0;
    height: 1px;
    background: #444;
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
  }

  .thumb {
  	ion-col {
  		background-size: cover;
	    color: white;
	    font-size:small;
	    background-repeat: no-repeat;
	    background-position: center;
	    height:18vw;
	    margin:2px;
	    background-color: #777;
		  background-blend-mode: multiply;
      text-shadow: 1px 1px 1px #444;

		div {
			margin-top: 10px;
		}
  	}

  }

  .semua {
    background-image: url('../assets/imgs/menu/semuabarang.jpg');
  }

   .kecantikan {
  	background-image: url('../assets/imgs/menu/kecantikan.jpg');
  }

  .kesehatan {
  	background-image: url('../assets/imgs/menu/kesehatan.jpg');
  }

  .fashionpria {
  	background-image: url('../assets/imgs/menu/fashionpria.jpg');
  }
  .fashionwanita {
  	background-image: url('../assets/imgs/menu/fashionwanita.jpg');
  }
  .fashionanak {
  	background-image: url('../assets/imgs/menu/fashionanak.jpg');
  }

  .bayi {
  	background-image: url('../assets/imgs/menu/bayi.jpg');
  }
  .perabot {
  	background-image: url('../assets/imgs/menu/perabot.jpg');
  }
  .elektronik {
  	background-image: url('../assets/imgs/menu/elektronik.jpg');
  }

  .hp {
  	background-image: url('../assets/imgs/menu/hp.jpg');
  }
  .komputer {
  	background-image: url('../assets/imgs/menu/komputer.jpg');
  }
  .laptop {
  	background-image: url('../assets/imgs/menu/laptop.jpg');
  }

    .olahraga {
  	background-image: url('../assets/imgs/menu/olahraga.jpg');
  }
  .hobi {
  	background-image: url('../assets/imgs/menu/hobi.jpg');
  }
  .kado {
  	background-image: url('../assets/imgs/menu/kado.jpg');
  }

    .otomotif {
  	background-image: url('../assets/imgs/menu/otomotif.jpg');
  }
  .atk {
  	background-image: url('../assets/imgs/menu/atk.jpg');
  }
  .baranglainnya {
  	background-image: url('../assets/imgs/menu/baranglainnya.jpg');
  }

   .img-loaded + ion-spinner {
  display:none;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul {
  padding: 0px;

  &.rating li {
    padding: 0px !important;
    background: none;
    color: map-get($colors, secondary);

    ion-icon {
      font-size: 18px;
    }
  }
}

.suka {
    max-height: 3rem !important;
    margin-top: -15px;
    float:right;
      ion-label {
        margin-top: 3px;
        margin-right: 0px;
      }

      button {
        float: right;
        margin-right: 8px;
      }
}

.rates {
    max-height: 3rem !important;
    margin-top: -15px;
    overflow: hidden;
      ion-label {
        margin-top: 3px;
      }
      .input-wrapper {
        max-width: 60%;
      }

      .item-inner {
        padding-right: 0px !important;
      }
}

.namaDagangan {
  margin: 0 0 2px;
font-size: 1.6rem;
font-weight: normal;
}

.angkaRating {
  font-size: 12px;
margin-top: 0px !important;
color: grey;
}

.angkaRatings {
  font-size: 12px;
  margin-top: 0px !important;
  color: grey;
  margin-left: -3px !important;
  //display: inline;
  overflow: hidden;
}

.harga {
    margin: 0 0 2px;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
  }

  .ongkir {
    margin: 0 0 2px;
    font-size: 1.2rem;
    font-weight: normal;
    color: grey;
    text-align: right;
  }

  .itemHarga {
    margin-bottom: 6px;
    margin-top: -15px;
  }


}
