<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon><ion-badge color="secondary" *ngIf="jumlah.like!=0||jumlah.komentar!=0||jumlah.ulasan!=0">{{jumlah.like+jumlah.komentar+jumlah.ulasan}}</ion-badge>
    </button>
    <ion-title>Disukai</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
	<div id="posts">
    <accordion-list [title]="jumlahPedagang.nama" textColor="#FFF"
                  hasMargin="false"
                  headerColor="#C70039">
    <ion-card *ngFor="let item of ikuti$">
        <ion-item (click)="penjual(item.keyUser)" class="headerPenjual">
          <ion-avatar item-start>
            <img src="{{item.dataUser.foto}}">
          </ion-avatar>
          <h2 class="sticky" text-wrap>{{item.dataUser.nama}}</h2>
          <ion-item class="ratesPenjual">
            <rating [(ngModel)]="item.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
            </rating>
            <div item-right class="angkaRating">{{item.rating}} ({{item.sizeUlasan}})</div>
          </ion-item>
        </ion-item>
        <img src="{{ item.dataUser.cover }}" (click)="penjual(item.keyUser)" class="gambar" (load)="loaded = true" [hidden]="!loaded" [ngClass]="{'img-loaded':loaded}">
        <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
        <ion-item>
            <button ion-button full color="primary" (click)="batalIkut(item)">Langganan <ion-icon name="checkmark"></ion-icon></button>
          </ion-item>
        <ion-card-content class="konten" (click)="penjual(item.keyUser)">
          <ion-item no-padding text-wrap>
            <ion-icon color="primary" large item-start name='pricetag'></ion-icon>
            <p>{{ item.dataUser.deskripsi }}</p>
          </ion-item>
          <ion-item no-padding text-wrap>
            <ion-icon color="primary" large item-start name='pin'></ion-icon>
            <h3>Lokasi : {{ item.dataUser.kecamatan }}, {{ item.dataUser.kabupaten }}</h3>
            <p>Wilayah Pengiriman: {{ item.dataUser.ciamis }} {{ item.dataUser.banjar }}</p>
          </ion-item>
          <ion-item no-padding text-wrap>
            <ion-icon color="primary" large item-start name='timer'></ion-icon>
            <h3>Buka {{ item.dataUser.jamBuka }} s/d {{ item.dataUser.jamTutup }} WIB</h3>
            <p>{{ item.dataUser.hariBuka }}</p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </accordion-list>


      <accordion-list [title]="jumlahMakanan.nama" textColor="#FFF"
                  hasMargin="false"
                  headerColor="#C70039">
      <ion-card *ngFor="let item of makanan$" class="dagangan">
        <img src="{{ item.dagang.fotoDagangan }}" (click)="lihatDetail(item)" class="gambar" (load)="loaded = true" [hidden]="!loaded" [ngClass]="{'img-loaded':loaded}">
        <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
        <ion-item (click)="lihatDetail(item)">
          <div class="namaDagangan" text-wrap>{{item.dagang.namaDagangan}}</div>
        </ion-item>
        <ion-row>
          <ion-col col-5 no-padding text-wrap><ion-item class="itemHarga">
          <div class="harga">Rp{{item.dagang.harga}}</div>
        </ion-item></ion-col>
          <ion-col col-7 no-padding text-wrap><ion-item class="itemHarga">
          <div class="ongkir">Ongkir (Rp): {{ format(item.ongkir.min) }}-{{ format(item.ongkir.max) }}</div>
        </ion-item></ion-col>
        </ion-row>
        
        <ion-row no-padding style="margin-top: -10px;">
          <ion-col col-7 no-padding>
            <ion-item class="rates">
            <rating [(ngModel)]="item.ulasan.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
            </rating>
            <div item-right class="angkaRatings">{{item.ulasan.rate}} ({{item.ulasan.jumlah}})</div>
          </ion-item>
          </ion-col>
          <ion-col col-5 no-padding>
            <ion-item class="suka" no-padding >
            <button ion-button outline icon-left color="primary-light" (click)="batalSuka(item)">
                <ion-icon name='heart'></ion-icon>
                Disukai {{item.jumlahLike}}
              </button>
          </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </accordion-list>

        <accordion-list [title]="jumlahBarang.nama" textColor="#FFF"
                  hasMargin="false"
                  headerColor="#C70039">
        <ion-card *ngFor="let item of barang$" class="dagangan">
        <img src="{{ item.dagang.fotoDagangan }}" (click)="lihatDetail(item)" class="gambar" (load)="loaded = true" [hidden]="!loaded" [ngClass]="{'img-loaded':loaded}">
        <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
        <ion-item (click)="lihatDetail(item)">
          <div class="namaDagangan" text-wrap>{{item.dagang.namaDagangan}}</div>
        </ion-item>
        <ion-row>
          <ion-col col-5 no-padding text-wrap><ion-item class="itemHarga">
          <div class="harga">Rp{{item.dagang.harga}}</div>
        </ion-item></ion-col>
          <ion-col col-7 no-padding text-wrap><ion-item class="itemHarga">
          <div class="ongkir">Ongkir (Rp): {{ format(item.ongkir.min) }}-{{ format(item.ongkir.max) }}</div>
        </ion-item></ion-col>
        </ion-row>
        
        <ion-row no-padding style="margin-top: -10px;">
          <ion-col col-7 no-padding>
            <ion-item class="rates">
            <rating [(ngModel)]="item.ulasan.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
            </rating>
            <div item-right class="angkaRatings">{{item.ulasan.rate}} ({{item.ulasan.jumlah}})</div>
          </ion-item>
          </ion-col>
          <ion-col col-5 no-padding>
            <ion-item class="suka" no-padding >
            <button ion-button outline icon-left color="primary-light" (click)="batalSuka(item)">
                <ion-icon name='heart'></ion-icon>
                Disukai {{item.jumlahLike}}
              </button>
          </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </accordion-list>
      
        <accordion-list [title]="jumlahJasa.nama" textColor="#FFF"
                  hasMargin="false"
                  headerColor="#C70039">
        <ion-card *ngFor="let item of jasa$" class="dagangan">
        <img src="{{ item.dagang.fotoDagangan }}" (click)="lihatDetail(item)" class="gambar" (load)="loaded = true" [hidden]="!loaded" [ngClass]="{'img-loaded':loaded}">
        <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
        <ion-item (click)="lihatDetail(item)">
          <div class="namaDagangan" text-wrap>{{item.dagang.namaDagangan}}</div>
        </ion-item>
        <ion-row>
          <ion-col col-5 no-padding text-wrap><ion-item class="itemHarga">
          <div class="harga">Rp{{item.dagang.harga}}</div>
        </ion-item></ion-col>
          <ion-col col-7 no-padding text-wrap><ion-item class="itemHarga">
          <div class="ongkir">Ongkir (Rp): {{ format(item.ongkir.min) }}-{{ format(item.ongkir.max) }}</div>
        </ion-item></ion-col>
        </ion-row>
        
        <ion-row no-padding style="margin-top: -10px;">
          <ion-col col-7 no-padding>
            <ion-item class="rates">
            <rating [(ngModel)]="item.ulasan.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
            </rating>
            <div item-right class="angkaRatings">{{item.ulasan.rate}} ({{item.ulasan.jumlah}})</div>
          </ion-item>
          </ion-col>
          <ion-col col-5 no-padding>
            <ion-item class="suka" no-padding >
            <button ion-button outline icon-left color="primary-light" (click)="batalSuka(item)">
                <ion-icon name='heart'></ion-icon>
                Disukai {{item.jumlahLike}}
              </button>
          </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </accordion-list>
    </div>
</ion-list>
</ion-content>
